//I googled the names of the colors :)
$white: #ffffff;
$ocean-blue-100: #222933;
$ocean-blue-200: #243f4d;
$ocean-blue-200-a: #243f4d5e;
$ocean-blue-300: #436372;
$ocean-blue-400: #748e9c;
$ocean-blue-450: #a3bbc8;
$ocean-blue-880: #dae4e9;
$ocean-blue-900: #edf1f4;
$apricot-craiola-400: #fcd7b6;
$apricot-craiola-600: #fde7d3;
$apricot-craiola-700: #feefe2;
$apricot-craiola-800: #fef7f0;
$apricot-craiola-850: #f8f8f8;
$cobalt-blue-200: #1f2044;
$cobalt-blue-220: #234969;
$graphite-black-100: #191919;
$graphite-black-200: #262626;
$dusty-gray-300: #585858;
$dusty-gray-400: #7b7b7b;
$dusty-gray-500: #939393;
$forest-wolf-800: #e8e4df;
$forest-wolf-850: #e0e0e0;
$forest-wolf-900: #e9e8e8;
/*---------------------------*/

$body-background-color: $white;
$body-text-color: $graphite-black-100;

$btn-arrow-color: $white;

$categories-active-border-color: $dusty-gray-500;
$categories-item-main-color: $dusty-gray-500;
$categories-item-focus-color: $graphite-black-100;
$categories-item-hover-color: $graphite-black-100;
$categories-item-active-color: $apricot-craiola-400;

$blog-card-background-color: $white;
$blog-card-link-focus-color: $dusty-gray-500;
$blog-card-link-hover-color: $ocean-blue-450;
$blog-card-link-active-color: $apricot-craiola-400;
$blog-card-category-background-color: $ocean-blue-450;
$blog-card-category-text-color: $white;
$blog-card-category-title-color: $graphite-black-200;
$blog-card-bottom-background-color: $forest-wolf-850;
$blog-card-icon-text-color: $ocean-blue-100;
$blog-card-icon-background-color: $ocean-blue-100;