// I need this mixin to test myself. I will delete it when I finish working with the project
@mixin wowborder ($f) {
   border: 3px solid ($f);
}

//I googled the names of the colors :)
$white: #ffffff;
$ocean-blue-100: #222933;
$ocean-blue-200: #243f4d;
$ocean-blue-200-a: #243f4d5e;
$ocean-blue-300: #436372;
$ocean-blue-400: #748e9c;
$ocean-blue-450: #a3bbc8;
$ocean-blue-880: #dae4e9;
$ocean-blue-900: #edf1f4;
$apricot-craiola-400: #fcd7b6;
$apricot-craiola-600: #fde7d3;
$apricot-craiola-700: #feefe2;
$apricot-craiola-800: #fef7f0;
$apricot-craiola-850: #f8f8f8;
$cobalt-blue-200: #1f2044;
$cobalt-blue-220: #234969;
$graphite-black-100: #191919;
$graphite-black-200: #262626;
$dusty-gray-300: #585858;
$dusty-gray-400: #7b7b7b;
$dusty-gray-500: #939393;
$forest-wolf-800: #e8e4df;
$forest-wolf-850: #e0e0e0;
$forest-wolf-900: #e9e8e8;

@mixin bg ($src) {
   background-image: $src;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

@mixin bg-change-color($url, $color) {
   mask: $url no-repeat center;
   mask-size: contain;
   background-color: $color;
}

@mixin Rubik($Rfw) {
   font-family: "Rubik", sans-serif;
   font-weight: $Rfw;
}

@mixin DMSans($DMSfw) {
   font-family: "DMSans", sans-serif;
   font-weight: $DMSfw;
}

@mixin Poppins($Pfw) {
   font-family: "Poppins", sans-serif;
   font-weight: $Pfw;
}

@function max($numbers...) {
   @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
   @return m#{i}n(#{$numbers});
}

// @include text-clamp(1);
@mixin text-clamp($lines: 2, $line-height: false) {
   display: -webkit-box;
   -webkit-line-clamp: $lines;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis; // многоточие

   // Fallback for non-Webkit browsers
   // (won't show `…` at the end of the block)
   @if $line-height {
      max-height: $line-height * $lines * 1px;
   }
}

