@import "nullstyle";
@import "fonts";
@import "vars";
@import "libs";
@import "global";

.header {
   color: $primary-accent-color;
   padding: 45px 0;
}

.menu {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   @include Rubik-Medium;
   font-size: 15px;
   letter-spacing: 1;

   // .menu__logo
   &__logo {
      padding-bottom: 10px;
      margin-right: calc(100vw * 0.08);

      svg text,
      svg path {
         transition: fill 0.3s ease;
      }

      &:hover {

         svg text,
         svg path {
            fill: $active-link-color;
         }
      }
   }

   // .menu__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 10px;
   }

   // .menu__item
   &__item {

      &:not(:last-child) {
         margin-right: 35px;
      }
   }

   // .menu__link
   &__link {
      color: inherit;
      transition: color 0.3s ease, border-bottom 0.3s ease;

      &:focus {
         border-bottom: 2px solid $secondary-accent-color;
      }

      &:hover {
         color: $active-link-color;
         border-bottom: 2px solid $active-link-color;
      }

      &:active {
         border-bottom: 2px solid $primary-accent-color;
      }
   }

   // .menu__dropdown
   &__dropdown {
      padding-left: 2px;
      transition: color 0.3s ease;
      cursor: pointer;

      &:focus {
         border-bottom: 2px solid $secondary-accent-color;
      }

      &:hover {
         color: $inactive-link-color;
      }
   }
}

.user {
   display: flex;
   flex-wrap: wrap;

   // .user__circle
   &__circle {
      &::before {
         content: "";
         position: absolute;
         top: 15px;
         left: 15px;
         right: 15px;
         bottom: 15px;
         cursor: pointer;
      }

      &:hover {
         background-color: $active-link-color;
      }
   }

   // .user__oval
   &__oval {
      display: inline-block;
      width: 90px;
      height: 50px;
      background-color: $secondary-accent-color;
      transition: background-color 0.3s ease;
      position: relative;

      &::before {
         position: absolute;
         content: "";
         top: 15px;
         bottom: 10px;
         cursor: pointer;
      }

      &:hover {
         background-color: $active-link-color;
      }
   }

   // .user__search
   &__search {
      position: relative;
      max-width: 300px;
      height: 42px;
      margin-right: 20px;
   }

   // .user__input
   &__input {
      position: relative;
      border-radius: 30px;
      height: 50px;
      width: 0;
      padding: 0 25px;
      border: none;
      outline: 0;
      background-color: transparent;
      transition: all 1s cubic-bezier(0, 0.8, 0, 1);
      z-index: 3;
      cursor: pointer;

      &::placeholder {
         transition: color 1s cubic-bezier(0, 0.8, 0, 1), opacity 1s cubic-bezier(0, 0.8, 0, 1);
         color: transparent;
      }

      &:focus {
         position: relative;
         padding: 0 50px 0 15px;
         border-radius: 30px;
         width: 300px;
         border: 2px solid $search-form-color;
         outline: 0 solid #000000;
         cursor: text;
         z-index: 1;

         &::placeholder {
            color: $primary-accent-color;
            opacity: 0.8;
         }
      }
   }

   // .user__circle--button
   &__circle--button {
      position: relative;
      background-color: $search-form-color;
      border: none;
      padding: 0;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 2;

      &::before {
         @include bg (url(../img/icons/search.svg));
      }
   }

   // .user_oval--chosen
   &_oval--chosen {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;

      &::before {
         @include bg (url(../img/icons/heart.svg));
         left: 40px;
         right: 30px;
      }

      &::after {
         position: absolute;
         content: "";
         top: 50%;
         transform: translateY(-50%);
         right: 0;
         display: block;
         width: 2px;
         height: 70%;
         background-color: #fde7d3;
      }

      .user__number {
         right: 20px;
      }
   }

   // .user__number
   &__number {
      @include DMSans-Regular;
      font-size: 10px;
      line-height: 1.7;
      text-align: center;
      padding: 0 5px;
      display: inline-block;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 10px;
   }

   // .user_oval--basket
   &_oval--basket {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      margin-right: 20px;

      &::before {
         @include bg (url(../img/icons/bucket.svg));
         left: 30px;
         right: 40px;
      }

      .user__number {
         right: 30px;
      }
   }

   // .user__circle--all
   &__circle--all {
      padding: 0;
      background-color: $inactive-link-color;
      border: none;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      position: relative;
      transition: background-color 0.3s ease;

      &::before {
         @include bg (url(../img/icons/all.svg));
      }
   }
}

.about {

   // .about__specialty
   &__specialty {
      display: flex;
      // justify-content: space-evenly;
   }

   // .about__item
   &__item {
      padding: 35px 0;
      flex: 0 1 33.333%;
      background-color: #fef7f0;
   }

   // .about__info
   &__info {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-width: 290px;
      margin: 0 auto;
      padding-left: 70px;
      background-repeat: no-repeat;
      background-position: 0 15px;
      background-size: auto 50px;
   }

   &--support {
      background-image: url(../img/specialty/support.svg);
   }

   &--delivery {
      background-image: url(../img/specialty/delivery.svg);
      background-position: -10px 15px;
   }

   &--pay {
      background-image: url(../img/specialty/pay.svg);
   }

   // .about__title
   &__title {
      @include DMSans-Bold;
      line-height: 2.2;
      font-weight: 700;
      font-size: 18px;
      color: #191919;
   }

   // .about__about
   &__about {
      @include DMSans-Regular;
      line-height: 2;
      font-weight: 400;
      font-size: 16px;
      color: #585858;
   }
}

.slider {
   overflow: hidden;
   background-color: $secondary-accent-color;

   // .slider__item
   &__item {
      padding: 50px 0 50px;
      position: relative;
      z-index: 1;

      &::before {
         position: absolute;
         content: "";
         top: 55%;
         right: 10%;
         transform: translateY(-50%);
         width: 640px;
         height: 640px;
         background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
         border-radius: 50%;
      }
   }

   // .slider__wrap
   &__wrap {
      max-width: 1200px; // 1170 + 30
      margin: 0 auto;
      padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }

   // .slider__content
   &__content {
      max-width: 430px;
   }

   // .slider__img
   &__img {
      width: 640px;
      height: 640px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 2;
      transform: translateY(5%);
   }

   // .slider__title
   &__title {
      text-transform: uppercase;
      display: inline-block;
      @include Rubik-Medium;
      font-size: 72px;
      line-height: 1;
      margin-bottom: 20px;
      color: $primary-title-color;
   }

   // .slider__about
   &__about {
      @include Rubik-Regular;
      font-size: 18px;
      color: $primary-accent-color;

      & p:last-of-type {
         margin-bottom: 40px
      }
   }

   // .slider__btn
   &__btn {
      transition: background-color 0.3s ease;

      svg {
         transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      }

      &:hover {
         background-color: $primary-title-color;

         svg {
            transform: translateX(10px);
         }
      }
   }

   .slick {
      &-dots {
         display: flex;
         justify-content: center;
         color: $primary-title-color;
         margin-bottom: 50px;

         li:not(:last-of-type) {
            margin-right: 10px;
         }

         button {
            outline: 0;
            margin: 0;
            border: none;
            width: 30px;
            height: 30px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            font-size: 10px;
            @include Rubik-Medium;
            transition: opacity 0.3s ease;
            opacity: 0.4;
         }

         & .slick-active {
            button {
               opacity: 1;
            }
         }
      }
   }
}