<footer class="footer" id="footer">
	<div class="container container--narrow">

		<div class="footer__top">

			<div class="footer__column">
				<a class="logo footer__logo" href="/index.html">
					<img class="logo__img" src="img/icons/logo.png" alt="Logo">
				</a>

				<address class="footer__info">
					<p class="footer__point">Address:
						<a class="footer__link" href="#">
							4772 Wines Lane Houston, TX 77032
						</a>
					</p>

					<p class="footer__point">Telephone:
						<a class="footer__link" href="tel:8323475843">
							+832-347-5843
						</a>
					</p>

					<p class="footer__point">Email:
						<a class="footer__link" href="mailto:contact@Glee.com">
							contact@Glee.com
						</a>
					</p>

				</address>
			</div>

			<div class="footer__column">
				<p class="footer__title footer__title--btn">
					Services
					<button class="footer__open">
						<span class="visually-hidden">View services</span>
					</button>
				</p>
				<ul class="footer__info footer__info--services footer__info--out">
					<li class="footer__row">
						<a class="footer__link" href="/about.html">
							About us
						</a>
					</li>
					<li class="footer__row">
						<a class="footer__link" href="#">
							Return Policy
						</a>
					</li>
					<li class="footer__row">
						<a class="footer__link" href="#">
							Our Blog
						</a>
					</li>
					<li class="footer__row">
						<a class="footer__link" href="#">
							Contact Us
						</a>
					</li>
					<li class="footer__row">
						<a class="footer__link" href="#">
							Terms & Condition
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__column">
				<p class="footer__title footer__title--btn">
					Account
					<button class="footer__open">
						<span class="visually-hidden">View account</span>
					</button>
				</p>
				<ul class="footer__info footer__info--account footer__info--out">
					<li class="footer__row">
						<a class="footer__link" href="#">
							Your Account
						</a>
					</li>
					<li class="footer__row">
						<a class="footer__link" href="#">
							Checkout
						</a>
					</li>
					<li class="footer__row">
						<a class="footer__link" href="#">
							Login
						</a>
					</li>
					<li class="footer__row">
						<a class="footer__link" href="#">
							Register
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__column footer__column--subscribe">
				<p class="footer__title">
					Newsletter
					<!-- <button class="footer__open">
						<span class="visually-hidden">Open the newsletter form</span>
					</button> -->
				</p>
				<div class="footer__wrap">
					<div class="footer__info footer__info--subscribe">
						<p class="footer__row">
							Subscribe by our newsletter and get update protidin.
						</p>
					</div>

					<form class="subscribe footer__subscribe" action="#" method="get">
						<label class="visually-hidden" for="email">
							Email address
						</label>
						<input class="subscribe__input" type="email" placeholder="Email address" id="email" name="email"
							required>
						<button class="subscribe__button" type="submit">
							Subscribe
						</button>
					</form>
				</div>
			</div>

		</div>

		<div class="footer__bottom">
			<p class="footer__copy">
				©2020 CopyRight Example. All rights reserved.
			</p>
			<ul class="footer__nav">
				<li class="footer__piece">
					<a class="footer__text" href="/index.html">Home</a>
				</li>
				<li class="footer__piece">
					<a class="footer__text" href="/about.html">About</a>
				</li>
				<li class="footer__piece">
					<a class="footer__text" href="#">Blog</a>
				</li>
				<li class="footer__piece">
					<a class="footer__text" href="#">Contact</a>
				</li>
			</ul>
		</div>

	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>