.articles {
   padding: 30px 0 10px;
   background-color: $apricot-craiola-800;
   position: relative;

   &::before {
      position: absolute;
      content: "";
      top: 0;
      display: block;
      width: 100%;
      height: 361px;
      background-color: $white;
   }

   // .articles__top
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 45px;

      @include md {
         flex-direction: column;
         align-items: center;
         margin-bottom: 20px;
      }
   }

   // .articles__title
   &__title {
      text-align: left;
      line-height: 1;
      z-index: 1;

      @include md {
         line-height: 1.4;
         text-align: center;
         margin-bottom: 5px;
      }
   }

   // .articles__view-all
   &__view-all {
		outline: transparent;
      @include DMSans(700);
      color: inherit;
      font-size: 16px;
      position: relative;
      margin-right: 20px;
      transition: color 0.3s;

		@include md {
			text-align: center;
			width: 70%;
			padding: 10px;
		}

      &::after {
         position: relative;
         content: "";
         top: -1px;
         left: 20px;
         border: solid black;
         border-width: 0 2px 2px 0;
         display: inline-block;
         padding: 3px;
         transform: rotate(-45deg);
         transition: transform 0.3s, border-color 0.3s;
      }

      &:focus {
         color: $ocean-blue-450;

         &:after {
            border-color: $ocean-blue-450;
         }
      }

      &:hover {
         &:after {
            transform: translate(-10px) rotate(135deg);
         }
      }

      &:active {
         color: $apricot-craiola-400;

         &:after {
            border-color: $apricot-craiola-400;
         }
      }
   }

   // .articles__bottom
   // &__bottom {}

   // .articles__items
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;

      @include lg {
         grid-column-gap: 10px;
      }

      @include md {
         display: flex;
         flex-direction: column;
         width: 70%;
         margin: 0 auto;
      }

      @include sm {
         width: 95%;
      }
   }

   // .articles__item
   &__item {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }
}