.filter {
   @include Rubik(400);
   color: $ocean-blue-200;
   line-height: 1;

   display: flex;
   flex-direction: column;

   @include lg {
      align-items: center;
   }

   &__btn {
      @include DMSans(400);
      text-transform: uppercase;
      font-size: 18px;
      background-color: $ocean-blue-900;
      color: $ocean-blue-200;
      border: none;
      padding: 15px;
      margin: 15px 0 30px;
      display: none;
      fill: $ocean-blue-200;
      transition: color 0.3s, background-color 0.3s;

      svg {
         margin-left: 15px;
         padding: 2px;
         transition: fill 0.3s;
      }

      &--active {
         background-color: $ocean-blue-450;
         color: $white;
         fill: $white;
      }

      @include lg {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
      }
   }

   &__title {
      @include DMSans(700);
      text-transform: uppercase;
      font-size: 18px;
      padding-right: 15px;
      margin-bottom: 27px;
      position: relative;
      display: inline-block;
      transition: background-color 1s;

      @include lg {
         padding-top: 10px;
         padding-bottom: 10px;
      }

      &::before,
      &::after {
         content: "";
         position: absolute;
         top: 50%;
         right: 0;
         transform: translate(100%, -50%);
         display: block;
         width: 40px;
         height: 2px;
         background-color: $ocean-blue-450;
         transition: transform 1s, background-color 0.2s;
      }

      &:active {

         &::after,
         &::before {
            background-color: $ocean-blue-300;
         }
      }

      &--thin {
         font-weight: 400;
         margin-bottom: 0;
         margin-right: 20px;
         padding: 0;

         &::after,
         &::before {
            display: none;
         }
      }

      &--active {

         &::before {
            transform: translate(100%, -50%) rotate(20deg);
         }

         &::after {
            transform: translate(100%, -50%) rotate(-20deg);
         }
      }

      &--sort {
         margin-right: -5px;
      }

      &--price {
         margin-bottom: 10px;

         @include md {
            margin-bottom: 27px;
         }
      }
   }

   // .filter__content 
   &__content {
      transition: margin 0.1s;

      @include lg {
         width: 75%;
      }

      @include rwd(440) {
         width: 100%;
      }

      &:not(:last-child) {
         margin-bottom: 60px;

         @include lg {
            display: none;
            margin-bottom: 30px;
         }

         @include md {
            margin-bottom: 0;
         }
      }

      &--active {
         &:not(:last-child) {
            @include md {
               margin-bottom: 30px;
            }
         }
      }

      // &--category {}

      &--price {
         &:not(:last-child) {
            margin-bottom: 85px;
         }
      }

      // &--brand {}

      &--recent {
         @include lg {
            order: -1;
         }

         @include sm {
            display: none;
         }
      }
   }


   // .filter__column
   &__column {
      @include md {
         display: none;
      }
   }

   // .filter__row
   &__row {
      border-radius: 5px;
      font-size: 16px;
      @include Rubik(400);
      display: block;
      overflow: hidden;

      &:not(:last-child) {
         margin-bottom: 1px;
      }
   }

   // .filter__item
   &__item {
      line-height: 1;
      padding: 13px;
      color: $ocean-blue-200;
      margin: 0;
      border: none;
      display: block;
      width: 100%;
      text-align: left;
      background-color: transparent;
      font-size: inherit;
      font-weight: inherit;
      font-family: inherit;
      position: relative;
      transition: background-color 0.7s, color 0.7s;

      &::after {
         position: absolute;
         content: "";
         top: 50%;
         right: 20px;
         border: solid $dusty-gray-600;
         border-width: 0 2px 2px 0;
         display: inline-block;
         padding: 3px;
         transform: rotate(-45deg) translateY(-50%);
         transition: transform 0.7s, border-color 0.7s;
      }

      &:focus {
         background-color: $ocean-blue-900;

         &:after {
            border-color: $ocean-blue-200;
         }
      }

      &:hover {
         background-color: $ocean-blue-920;

         &:after {
            transform: translateY(-50%) rotate(135deg);
         }
      }

      &:active {
         color: $white;
         background-color: $ocean-blue-450;

         &:after {
            border-color: $white;
         }
      }
   }

   .mixitup-control-active {
      background-color: $ocean-blue-900;

      &:after {
         border-color: $ocean-blue-200;
      }

      &:active {
         background-color: $ocean-blue-450;
      }
   }

   // .filter__form
   &__form {
      @include md {
         display: none;
      }

      // &--price {}

      // &--brand {}
   }

   // .filter__range
   // &__range {}

   .irs {
      margin-bottom: 20px;

      &-min,
      &-max,
      &-to,
      &-from,
      &-single {
         display: none;
      }

      &-line {
         height: 3px;
         background-color: $ocean-blue-880;
         border-radius: 0;
      }

      &-bar {
         top: 24px;
         height: 5px;
         background-color: $ocean-blue-450;
      }

      &-handle {
         &:hover {
            cursor: pointer;
         }

         i {
            transition: background-color 0.7s;
         }

         &:hover>i:first-child {
            background-color: $ocean-blue-200;
         }

         >i:first-child {
            background-color: $ocean-blue-450;
            top: -3px;
            left: 1.5px;
            width: 15px;
            height: 15px;
         }
      }

      .state_hover>i:first-child {
         background-color: $ocean-blue-200;
      }
   }

   // .filter__wrapper
   &__wrapper {
      padding: 0 5px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
   }

   &__cost {
      border: none;
      border-bottom: 2px solid transparent;
      outline: transparent;
      transition: border-color 0.3s;
      max-width: 50px;

      &:focus,
      &:hover {
         border-color: $ocean-blue-880;
      }

      //    &--from {}

      //    &--to {}
   }

   // .filter__label
   &__label {
      display: block;

      &:not(:last-child) {
         margin-bottom: 1px;
      }
   }

   // .filter__checkbox
   &__checkbox {
      position: absolute;
      z-index: -1;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);

      &:checked+.filter__fake-checkbox {
         background-color: $ocean-blue-900;
         color: $ocean-blue-200;
      }
   }

   // .filter__fake-checkbox
   &__fake-checkbox {
      display: flex;
      justify-content: space-between;
      color: $dusty-gray-600;
      padding: 13px 23px 13px 15px;
      line-height: 1;
      transition: color 0.7s, background-color 0.7s;

      &:focus {
         background-color: $ocean-blue-900;
      }

      &:hover {
         background-color: $ocean-blue-920;
         cursor: pointer;
      }

      &:active {
         color: $white;
         background-color: $ocean-blue-450;
         cursor: pointer;
      }
   }

   // .filter__text
   &__text {
      color: $ocean-blue-200;
   }

   // // .filter__num
   // &__num {}

   // .filter__recent
   // &__recent {}

   // // .filter__list
   // &__list {}

   // .filter__product
   &__product {
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   // .filter__view
   &__view {
      display: inline-flex;
      align-items: center;

      // @include sm {
      // 	margin-bottom: 15px;
      // }
   }

   // .filter__view-btn
   &__view-btn {
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: $forest-wolf-850;
      transition: fill 0.3s;
      outline: transparent;

      @include md {
         padding: 15px;
      }

      &:focus {
         fill: $dusty-gray-600;
      }

      &:hover {
         fill: $ocean-blue-300;
      }

      &:active {
         fill: $apricot-craiola-400;
      }

      &:not(:last-child) {
         margin-right: 15px;
      }

      // &--grid {}

      // &--list {}

      &--active {
         fill: $ocean-blue-450;
      }
   }

   // .filter__selects
   &__selects {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      @include md {
         padding: 15px;
      }

      .jq-selectbox {
         &__select {
            @include DMSans(400);
            text-transform: uppercase;
            line-height: 1;
            font-size: 18px;
            position: relative;
            font-weight: 400;
            padding: 0 25px 0 10px;
            cursor: pointer;
         }

         &_trigger {
            position: absolute;
            top: 0;
            right: 0;
            width: 34px;
            height: 100%;
         }

         &__trigger-arrow {
            position: absolute;
            top: 3px;
            right: 0;
            border: solid $ocean-blue-450;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            transition: transform 0.7s, border-color 0.7s;

            &--active {
               transform: translateY(50%) rotate(225deg);
            }
         }

         &__dropdown {
            @include DMSans(400);
            text-transform: uppercase;
            line-height: 1;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            top: 25px !important;
            left: -70px;
            min-width: calc(100% + 74px) !important;
            background-color: #fff;
            box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.2);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            ul {
               overflow: hidden;

               li {
                  padding: 10px 5px;
                  transition: background-color 0.5s, color 0.5s;

                  &:hover {
                     color: $white;
                     background-color: $ocean-blue-450;
                  }

                  &:active {
                     background-color: $apricot-craiola-400;
                  }
               }
            }

            .mixitup-control-active {
               background-color: inherit;
            }
         }
      }
   }

   // // .filter__sort
   // &__sort {}
}