.footer {
   @include Rubik(400);
   font-style: normal;
   color: $dusty-gray-400;
   font-size: 14px;
   position: relative;

   // .footer__top
   &__top {
      padding: 90px 0 65px;
      display: flex;
   }

   // .footer__column
   &__column {
      flex: 0 1 25%;

      &:not(:first-child) {
         padding: 0 10px;
      }

      &:last-child {
         padding: 0;
      }
   }

   // .footer__logo
   &__logo {
      position: relative;
      display: block;
      top: -10px;
      margin-bottom: 10px;
   }

   // .footer__info
   &__info {
      max-width: 220px;
      font-style: normal;

      &--subscribe {
         margin-bottom: 30px;
      }
   }

   // .footer__point
   &__point {
      text-transform: uppercase;

      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   // .footer__link
   &__link {
      outline: transparent;
      text-transform: none;
      color: inherit;
      transition: color 0.3s, border-bottom 0.1s;
      border-bottom: 1px solid transparent;

      &:focus {
         border-color: $dusty-gray-400;
      }

      &:hover {
         color: $cobalt-blue-200;
         border-color: $cobalt-blue-200;
      }

      &:active {
         color: $ocean-blue-450;
         border-color: $ocean-blue-450;
      }
   }

   // .footer__title
   &__title {
      color: $cobalt-blue-200;
      text-transform: uppercase;
      font-size: 16px;
      @include DMSans(700);
      margin-bottom: 15px;
   }

   // .footer__row
   &__row {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   // // .footer__subscribe
   // &__subscribe {}

   // .footer__bottom
   &__bottom {
      position: relative;
      padding: 35px 0;
      display: flex;
      justify-content: space-between;

      &::before {
         content: "";
         position: absolute;
         top: 0;
         width: 100%;
         height: 1px;
         background-color: $ocean-blue-880;
      }
   }

   // .footer__copy
   // &__copy {}

   // .footer__nav
   &__nav {
      display: flex;
      flex-wrap: wrap;
   }

   // .footer__piece
   &__piece {
      position: relative;

      &:not(:last-child) {
         margin-right: 30px;

         &::after {
            content: "|";
            position: absolute;
            right: -15px;
         }
      }
   }

   // .footer__text
   &__text {
      outline: transparent;
      color: inherit;
      transition: color 0.3s, border-bottom 0.1s;
      border-bottom: 1px solid transparent;

      &:focus {
         border-color: $dusty-gray-400;
      }

      &:hover {
         color: $ocean-blue-300;
         border-color: $ocean-blue-300;
      }
   }
}

.subscribe {
   display: flex;

   // .subscribe__input
   &__input {
      outline: transparent;
      background-color: $apricot-craiola-800;
      border: none;
      padding: 0 10px;
      height: 40px;
      // margin-right: 5px;
      flex: 0 0 190px;

      &::placeholder {
         @include DMSans(400);
         font-size: 12px;
         color: $cobalt-blue-220;
      }

      &:focus {
         border: 1px solid $ocean-blue-450;
      }
   }

   // .subscribe__button
   &__button {
      outline: transparent;
      padding: 0 10px;
      height: 40px;
      @include DMSans(400);
      font-size: 14px;
      border: none;
      background-color: $ocean-blue-450;
      color: $white;
      border: 1px solid transparent;
      transition: background-color 0.3s, border 0.3s, color 0.3s;
      flex: 1 1 auto;

      &:focus {
         border-color: $cobalt-blue-220;
      }

      &:hover {
         background-color: $cobalt-blue-220;
      }

      &:active {
         background-color: $apricot-craiola-800;
         color: $cobalt-blue-220;
      }
   }
}