.partners {
   background-color: $apricot-craiola-800;
   padding: 75px 0;

   @include xl {
      padding: 55px 0;
   }

   @include lg {
      padding: 40px 0;
   }

   @include md {
      padding: 25px 0;
   }

   // .partners__items
   &__items {
      width: 90%;
      margin: 0 auto;

      @include xl {
         width: 100%;
      }
   }

   // .partners__item
   &__item {
      margin-right: 100px;

      @include xl {
         margin-right: 85px;
      }

      @include lg {
         margin-right: 50px;
      }

      @include md {
         margin-right: 45px;
      }

      @include sm {
         margin-right: 20px;
      }
   }

   // .partners__link
   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 270px;
      height: 100px;

      @include xl {
         max-width: 190px;
      }

      @include md {
         max-width: 120px;
      }
   }

   // .partners__img
   &__img {
      width: 100%;
   }

   .slick {
      &-list {
         .draggable {
            overflow: hidden;
         }
      }
   }
}