.product-slider {

   &__top {
      overflow: hidden;
      background-color: $apricot-craiola-400;
   }

   // .product-slider__item
   &__item {
      outline: transparent;
      padding: 55px 0 50px;
      position: relative;
      z-index: 1;

      &::before {
         position: absolute;
         content: "";
         top: 56%;
         right: 10.5%;
         transform: translateY(-50%);
         width: 640px;
         height: 640px;
         background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
         border-radius: 50%;
      }
   }

   // .product-slider__wrap
   &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }

   // .product-slider__content
   &__content {
      max-width: 430px;
   }

   // .product-slider__wrapper
   &__wrapper {
      width: 640px;
      height: 640px;
      z-index: 2;
      transform: translateY(5%);
   }

   // .product-slider__img1
   &__img {
      object-fit: contain;
      width: 100%;
      height: 100%;
   }

   // .product-slider__title
   &__title {
      text-transform: uppercase;
      display: inline-block;
      font-size: 72px;
      line-height: 1;
      margin-bottom: 20px;
      color: $ocean-blue-200;
      @include text-clamp(3);
   }

   // .product-slider__about
   &__about {
      @include Rubik(400);
      @include text-clamp(6);
      font-size: 18px;
      color: $ocean-blue-300;

      // & p:last-of-type {
      //    margin-bottom: 40px
      // }
   }

   // .product-slider__btn
   &__btn {
      background-color: $ocean-blue-450;
      color: $white;
      outline: transparent;
      transition: background-color 0.3s ease;
      fill: $white;
      margin-top: 40px;
		cursor: pointer;

      &:focus {
         background-color: $ocean-blue-400;
      }

      &:hover {
         background-color: $ocean-blue-200;
      }

      &:active {
         background-color: $graphite-black-100;
      }
   }

   .slick {
      &-dots {
         display: flex;
         justify-content: center;
         color: $ocean-blue-200;
         margin-bottom: 45px;

         li:not(:last-of-type) {
            margin-right: 10px;
         }

         button {
            outline: transparent;
            margin: 0;
            border: none;
            width: 30px;
            height: 30px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            font-size: 10px;
            transition: opacity 0.3s ease;
            opacity: 0.4;
            border: 2px solid transparent;
            transition: border 0.3s;

            &:hover,
            &:focus {
               border-color: $ocean-blue-450;
            }
         }

         & .slick-active {
            button {
               opacity: 1;
            }
         }
      }
   }
}