.shop {
   padding: 115px 0;

   @include add-paddings;

   // .shop__inner
   &__inner {
      display: flex;

      @include xl {
         max-width: 100%;
      }

      @include lg {
         flex-direction: column;
      }
   }

   // .shop__filters
   &__filters {
      flex: 0 1 23%;
   }

   // .shop__wrap
   &__wrap {
      flex: 0 1 77%;
      padding-left: 30px;

      @include lg {
         padding: 0;
      }
   }

   // .shop__top
   &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      flex-direction: row;
      // display: none;

      @include sm {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
   }

   &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-auto-rows: minmax(380px, auto); // grid-auto-rows is not supported by IE
      grid-column-gap: 30px;
      grid-row-gap: 40px;
      margin-bottom: 115px;

      @include xl {
         margin-bottom: 90px;
      }

      @include lg {
         margin-bottom: 30px;
      }

      @include md {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   &__item {
      @include md {
         display: flex;
         justify-content: center;
      }

      // .product-card {
		// 	width: 100%;
		// }
   }

   // &__page {}
}

.list {
   display: flex;
   flex-direction: column;

   .list--hide {
      display: none;
   }

   // .list--hide~li {
   //    display: none;
   // }
}