.video {
   padding: 90px 0;

   @include rwd(1399.98) {
      padding: 60px 0;
   }

   @include xl {
      padding: 40px 0;
   }

   @include lg {
      padding: 30px 0;
   }

   @include md {
      padding: 15px 0;
   }

   // .video__bg
   &__bg {
      outline: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: bottom center;
      // background-position: 0 -690px;
      background-size: 100% auto;
      background-attachment: fixed;

      @include xl {
         height: 400px;
         background-attachment: scroll;
      }

      @include lg {
         height: 300px;
      }

      @include md {
         height: 200px;
      }

      @include sm {
         height: 150px;
      }

      &:focus .video__play {
         box-shadow: 0 0 0 15px rgba(116, 142, 156, 0.9);
      }

      &:hover .video__play {
         width: 130px;
         height: 130px;

         svg {
            transform: scale(1.6);
         }
      }

      &:active .video__play {
         background-color: $ocean-blue-400;
         box-shadow: 0 0 0 15px rgba(116, 142, 156, 0.5);
      }
   }

   // .video__play
   &__play {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      background-color: $ocean-blue-450;
      border-radius: 50%;
      box-shadow: 0 0 0 15px rgba(163, 187, 200, 0.4);
      position: relative;
      fill: $white;
      transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
         height 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.1s,
         background-color 0.3s, box-shadow 0.3s;

      svg {
         transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.15s;
      }
   }
}