<section class="articles">
	<div class="container container--narrow">
		<div class="articles__top">
			<h2 class="title articles__title">Our Insights & Articles</h2>
			<a class="articles__view-all" href="#">View All</a>
		</div>

		<div class="articles__bottom">
			<ul class="articles__items">
				<li class="articles__item">
					<article class="blog-card">
						<div class="blog-card__wrap">
							<img class="blog-card__img" src="img/articles/interior-01.jpg" alt="Interior 1">
						</div>
						<span class="blog-card__category">News</span>
						<h3 class="blog-card__title">
							<a class="blog-card__link" href="#">
								Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
							</a>
						</h3>
						<div class="blog-card__bottom">
							<time class="blog-card__icon blog-card__icon--calendar">28 January, 2020</time>
							<span class="blog-card__icon blog-card__icon--user">By admin</span>
						</div>
					</article>
				</li>

				<li class="articles__item">
					<article class="blog-card">
						<div class="blog-card__wrap">
							<img class="blog-card__img" src="img/articles/interior-02.jpg" alt="Interior 2">
						</div>
						<span class="blog-card__category">News</span>
						<h3 class="blog-card__title">
							<a class="blog-card__link" href="#">
								Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							</a>
						</h3>
						<div class="blog-card__bottom">
							<time class="blog-card__icon blog-card__icon--calendar">28 January, 2020</time>
							<span class="blog-card__icon blog-card__icon--user">By admin</span>
						</div>
					</article>
				</li>

				<li class="articles__item">
					<article class="blog-card">
						<div class="blog-card__wrap">
							<img class="blog-card__img" src="img/articles/interior-03.jpg" alt="Interior 3">
						</div>
						<span class="blog-card__category">News</span>
						<h3 class="blog-card__title">
							<a class="blog-card__link" href="#">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores recusandae possimus quos
								natus animi labore eaque, deleniti doloribus itaque? Doloribus modi officia esse, mollitia
								earum voluptatem debitis accusamus ducimus illum!Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Dolores recusandae possimus quos
								natus animi labore eaque, deleniti doloribus itaque? Doloribus modi officia esse, mollitia
								earum voluptatem debitis accusamus ducimus illum!
							</a>
						</h3>
						<div class="blog-card__bottom">
							<time class="blog-card__icon blog-card__icon--calendar">28 January, 2020</time>
							<span class="blog-card__icon blog-card__icon--user">By admin</span>
						</div>
					</article>
				</li>

			</ul>
		</div>
	</div>
</section>