<ul class="comments">
	<li class="comments__item">
		<div class="comments__comment">
			<img class="comments__avatar" src="img/authors/jkr.jpg" alt="author">
			<div class="comments__body">
				<div class="comments__wrap">
					<h3 class="comments__author">Delores G. Roberts</h3>
					<span class="comments__date">11 Oct 2020</span>
				</div>
				<div class="comments__text">
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
					<p>omnis necessitatibus mollitia in expedita quos beatae optio earum unde officiis eligendi obcaecati
						pariatur quibusdam corrupti deleniti distinctio recusandae blanditiis!</p>
				</div>
				<a class="comments__btn" href="#">Reply</a>
			</div>
		</div>

		<ul class="comments">
			<li class="comments__item">
				<div class="comments__comment">
					<img class="comments__avatar" src="img/authors/photo.jpg" alt="author">
					<div class="comments__body">
						<div class="comments__wrap">
							<h3 class="comments__author">Anastasiia Korneva</h3>
							<span class="comments__date">11 Oct 2020</span>
						</div>
						<div class="comments__text">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat qui, sint excepturi, quia
								ratione
								repellat porro tenetur iure eveniet molestiae at quis enim. Veritatis vero vel fugit quas
								numquam
								dolor..
							</p>
						</div>
						<a class="comments__btn" href="#">Reply</a>
					</div>
				</div>
			</li>

			<li class="comments__item">
				<div class="comments__comment">
					<img class="comments__avatar" src="img/authors/Nata.jpg" alt="author">
					<div class="comments__body">
						<div class="comments__wrap">
							<h3 class="comments__author">Natasha Solomina</h3>
							<span class="comments__date">11 Oct 2020</span>
						</div>
						<div class="comments__text">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat qui, sint excepturi, quia
								ratione
								repellat porro tenetur iure eveniet molestiae at quis enim. Veritatis vero vel fugit quas
								numquam
								dolor..
							</p>
						</div>
						<a class="comments__btn" href="#">Reply</a>
					</div>
				</div>

				<ul class="comments">
					<li class="comments__item">
						<div class="comments__comment">
							<img class="comments__avatar" src="https://dummyimage.com/100x200/c8d8d8/0e4657" alt="author">
							<div class="comments__body">
								<div class="comments__wrap">
									<h3 class="comments__author">Photo example</h3>
									<span class="comments__date">11 Oct 2020</span>
								</div>
								<div class="comments__text">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat qui, sint excepturi,
										quia
										ratione
										repellat porro tenetur iure eveniet molestiae at quis enim. Veritatis vero vel fugit quas
										numquam
										dolor..
									</p>
								</div>
								<a class="comments__btn" href="#">Reply</a>
							</div>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</li>

	<li class="comments__item">
		<div class="comments__comment">
			<img class="comments__avatar" src="img/authors/mark.jpg" alt="author">
			<div class="comments__body">
				<div class="comments__wrap">
					<h3 class="comments__author">Mark N. Sonnet</h3>
					<span class="comments__date">11 Oct 2020</span>
				</div>
				<div class="comments__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat qui, sint excepturi, quia ratione
						repellat porro tenetur iure eveniet molestiae at quis enim. Veritatis vero vel fugit quas numquam
						dolor..
					</p>
				</div>
				<a class="comments__btn" href="#">Reply</a>
			</div>
		</div>
	</li>
</ul>

<form class="form-comment" action="#">
	<p class="form-comment__title">Leave a comment</p>
	<div class="form-comment__wrap">
		<label class="form-comment__label form-comment__label--name">
			<span class="visually-hidden">Name</span>
			<input class="form-comment__input" type="text" placeholder="Name">
		</label>
		<label class="form-comment__label form-comment__label--email">
			<span class="visually-hidden">E-mail</span>
			<input class="form-comment__input" type="text" placeholder="youremail@example.com">
		</label>
	</div>
	<label class="form-comment__label form-comment__label--comment">
		<span class="visually-hidden">Comment</span>
		<textarea class="form-comment__input" name="comment" cols="30" rows="7" placeholder="Comment"></textarea>
		<button class="btn btn--no-arrow form-comment__btn" type="submit">Post comment</button>
	</label>
</form>