<section class="features">
	<div class="container">
		<h2 class="visually-hidden">What our company offers you when buying any product</h2>

		<ul class="features__items">
			<li class="features__cell">
				<div class="features__info features__info--support">
					<p class="features__subtitle">
						Support 24/7.
					</p>
					<div class="features__text">
						<p>
							Contact us 24 hours a day, 7 days a week
						</p>
					</div>
				</div>
			</li>

			<li class="features__cell">
				<div class="features__info features__info--delivery">
					<p class="features__subtitle">
						Delivery.
					</p>
					<div class="features__text">
						<p>
							Free shipping on all US order.
						</p>
					</div>
				</div>
			</li>

			<li class="features__cell">
				<div class="features__info features__info--pay">
					<p class="features__subtitle">
						100% Payment secure.
					</p>
					<div class="features__text">
						<p>
							We ensure secure payment with PEV.
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>