<section class="partners">
	<div class="container container--narrow">
		<h2 class="visually-hidden">Our sponsors and partners</h2>
		<ul class="partners__items">
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img class="partners__img" src="img/partners/logo_partner-1.png" alt="Peterson Stephani">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img class="partners__img" src="img/partners/logo_partner-2.png" alt="KMN">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img class="partners__img" src="img/partners/logo_partner-3.png" alt="Chainforse">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img class="partners__img" src="img/partners/logo_partner-4.png" alt="NextG3N">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img class="partners__img" src="img/partners/logo_partner-5.png" alt="Vintage">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img class="partners__img" src="https://dummyimage.com/1600x400/a4b5bb/000.png" alt="Partner name">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img class="partners__img" src="https://dummyimage.com/1000x1800/bababa/000.png" alt="Partner name">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img class="partners__img" src="https://dummyimage.com/50x50/a4b5bb/000.png" alt="Partner name">
				</a>
			</li>
		</ul>
	</div>
</section>