<section class="product-slider">
	<div class="container">
		<h2 class="visually-hidden">Our best offers</h2>

		<ul class="product-slider__top">

			<li class="product-slider__item">
				<div class="product-slider__wrap container container--narrow">

					<div class="product-slider__content">
						<p class="product-slider__title">
							Smart and trendy
						</p>
						<div class="product-slider__about">
							<p>
								Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							</p>
						</div>
						<a class="btn product-slider__btn" href="#">
							Shop Now
						</a>
					</div>

					<img class="product-slider__img" src="img/product-slider/sofa.png" alt="Sofa">

				</div>
			</li>

			<li class="product-slider__item">
				<div class="product-slider__wrap container container--narrow">

					<div class="product-slider__content">
						<p class="product-slider__title">
							Title 2
						</p>
						<div class="product-slider__about">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
							</p>
						</div>
						<a class="btn product-slider__btn" href="#">
							Shop Now
						</a>
					</div>

					<img class="product-slider__img" src="https://dummyimage.com/1700x900/d49b6a/ffffff.png"
						alt="Slide 2 preview">

				</div>
			</li>

			<li class="product-slider__item">
				<div class="product-slider__wrap container container--narrow">

					<div class="product-slider__content">
						<p class="product-slider__title">
							Title 3 and some text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium
							maxime dolore nisi nemo natus, quidem iure id illum adipisci, voluptatibus assumenda, totam
							saepe quibusdam quas sed tempore excepturi recusandae porro?
						</p>
						<div class="product-slider__about">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, natus sit! Hic odit
								libero facilis doloremque nemo dignissimos iusto sit earum. Nam dolorum nisi delectus
								aliquid cupiditate tempora deleniti accusamus.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, natus sit! Hic odit
								libero facilis doloremque nemo dignissimos iusto sit earum. Nam dolorum nisi delectus
								aliquid cupiditate tempora deleniti accusamus.</p>
						</div>
						<a class="btn product-slider__btn" href="#">
							Shop Now
						</a>
					</div>

					<img class="product-slider__img" src="https://dummyimage.com/700x500/bb9e84/fff.png"
						alt="Slide 3 preview">

				</div>
			</li>

		</ul>
	</div>
</section>