<section class="related">
	<div class="container container--narrow related__inner">
		<div class="related__top">
			<h2 class="title related__title">Related products</h2>

			<div class="related__buttons">
				<button type="button" class="related__arrow related__arrow--prev">
					<svg width="30" height="25">
						<use xlink:href="img/sprite.svg#icons--left-arrow"></use>
					</svg>
				</button>
				<button type="button" class="related__arrow related__arrow--next">
					<svg width="30" height="25">
						<use xlink:href="img/sprite.svg#icons--right-arrow"></use>
					</svg>
				</button>
			</div>
		</div>

		<div class="related__wrapper">
			<ul class="related__content">
				<li class="related__item">
					<article class="product-card drop-shadow">
						<div class="product-card__wrap">
							<img class="product-card__img" src="img/popular/armchair-01.png" alt="armchair 1">
						</div>
						<ul class="product-card__hover">
							<li class="product-card__element">
								<a class="product-card__circle product-card__circle--search" href="product_detalis.html">
									<span class="visually-hidden">View more details</span>
									<svg width="20" height="20">
										<use xlink:href="img/sprite.svg#icons--search_ligth"></use>
									</svg>
								</a>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--cart">
									<span class="visually-hidden">Add item to your cart</span>
									<svg width="22" height="20">
										<use xlink:href="img/sprite.svg#icons--cart"></use>
									</svg>
								</button>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--chosen">
									<span class="visually-hidden">Add item to your favorites</span>
									<svg width="22" height="18">
										<use xlink:href="img/sprite.svg#icons--heart"></use>
									</svg>
								</button>
							</li>
						</ul>
						<div class="product-card__info">
							<h3 class="product-card__product">Wooden radio</h3>
							<div class="product-card__rating rating" data-rateyo-rating="@@product-rating"></div>
							<span class="product-card__price"><span class="product-card__currency">$</span>29.00</span>
						</div>
					</article>
				</li>

				<li class="related__item">
					<article class="product-card drop-shadow">
						<div class="product-card__wrap">
							<img class="product-card__img" src="img/popular/armchair-02.png" alt="armchair 2">
						</div>
						<ul class="product-card__hover">
							<li class="product-card__element">
								<a class="product-card__circle product-card__circle--search" href="product_detalis.html">
									<span class="visually-hidden">View more details</span>
									<svg width="20" height="20">
										<use xlink:href="img/sprite.svg#icons--search_ligth"></use>
									</svg>
								</a>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--cart">
									<span class="visually-hidden">Add item to your cart</span>
									<svg width="22" height="20">
										<use xlink:href="img/sprite.svg#icons--cart"></use>
									</svg>
								</button>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--chosen">
									<span class="visually-hidden">Add item to your favorites</span>
									<svg width="22" height="18">
										<use xlink:href="img/sprite.svg#icons--heart"></use>
									</svg>
								</button>
							</li>
						</ul>
						<div class="product-card__info">
							<h3 class="product-card__product">Wooden chair</h3>
							<div class="product-card__rating rating" data-rateyo-rating="@@product-rating"></div>
							<span class="product-card__price"><span class="product-card__currency">$</span>29.00</span>
						</div>
					</article>
				</li>

				<li class="related__item">
					<article class="product-card drop-shadow">
						<div class="product-card__wrap">
							<img class="product-card__img" src="img/popular/armchair-03.png" alt="armchair 3">
						</div>
						<ul class="product-card__hover">
							<li class="product-card__element">
								<a class="product-card__circle product-card__circle--search" href="product_detalis.html">
									<span class="visually-hidden">View more details</span>
									<svg width="20" height="20">
										<use xlink:href="img/sprite.svg#icons--search_ligth"></use>
									</svg>
								</a>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--cart">
									<span class="visually-hidden">Add item to your cart</span>
									<svg width="22" height="20">
										<use xlink:href="img/sprite.svg#icons--cart"></use>
									</svg>
								</button>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--chosen">
									<span class="visually-hidden">Add item to your favorites</span>
									<svg width="22" height="18">
										<use xlink:href="img/sprite.svg#icons--heart"></use>
									</svg>
								</button>
							</li>
						</ul>
						<div class="product-card__info">
							<h3 class="product-card__product">Wooden armchair</h3>
							<div class="product-card__rating rating" data-rateyo-rating="@@product-rating"></div>
							<span class="product-card__price"><span class="product-card__currency">$</span>29.00</span>
						</div>
					</article>
				</li>

				<li class="related__item">
					<article class="product-card drop-shadow">
						<div class="product-card__wrap">
							<img class="product-card__img" src="img/popular/armchair-04.png" alt="armchair 4">
						</div>
						<ul class="product-card__hover">
							<li class="product-card__element">
								<a class="product-card__circle product-card__circle--search" href="product_detalis.html">
									<span class="visually-hidden">View more details</span>
									<svg width="20" height="20">
										<use xlink:href="img/sprite.svg#icons--search_ligth"></use>
									</svg>
								</a>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--cart">
									<span class="visually-hidden">Add item to your cart</span>
									<svg width="22" height="20">
										<use xlink:href="img/sprite.svg#icons--cart"></use>
									</svg>
								</button>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--chosen">
									<span class="visually-hidden">Add item to your favorites</span>
									<svg width="22" height="18">
										<use xlink:href="img/sprite.svg#icons--heart"></use>
									</svg>
								</button>
							</li>
						</ul>
						<div class="product-card__info">
							<h3 class="product-card__product">Retro table</h3>
							<div class="product-card__rating rating" data-rateyo-rating="@@product-rating"></div>
							<span class="product-card__price"><span class="product-card__currency">$</span>29.00</span>
						</div>
					</article>
				</li>

				<li class="related__item">
					<article class="product-card drop-shadow">
						<div class="product-card__wrap">
							<img class="product-card__img" src="https://dummyimage.com/600x1400/e6e2db/211a19"
								alt="armchair 5">
						</div>
						<ul class="product-card__hover">
							<li class="product-card__element">
								<a class="product-card__circle product-card__circle--search" href="product_detalis.html">
									<span class="visually-hidden">View more details</span>
									<svg width="20" height="20">
										<use xlink:href="img/sprite.svg#icons--search_ligth"></use>
									</svg>
								</a>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--cart">
									<span class="visually-hidden">Add item to your cart</span>
									<svg width="22" height="20">
										<use xlink:href="img/sprite.svg#icons--cart"></use>
									</svg>
								</button>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--chosen">
									<span class="visually-hidden">Add item to your favorites</span>
									<svg width="22" height="18">
										<use xlink:href="img/sprite.svg#icons--heart"></use>
									</svg>
								</button>
							</li>
						</ul>
						<div class="product-card__info">
							<h3 class="product-card__product">Very long product name on the site</h3>
							<div class="product-card__rating rating" data-rateyo-rating="@@product-rating"></div>
							<span class="product-card__price"><span class="product-card__currency">$</span>29.00</span>

						</div>
					</article>
				</li>

				<li class="related__item">
					<article class="product-card drop-shadow">
						<div class="product-card__wrap">
							<img class="product-card__img" src="img/popular/armchair-06.png" alt="armchair 6">
						</div>
						<ul class="product-card__hover">
							<li class="product-card__element">
								<a class="product-card__circle product-card__circle--search" href="product_detalis.html">
									<span class="visually-hidden">View more details</span>
									<svg width="20" height="20">
										<use xlink:href="img/sprite.svg#icons--search_ligth"></use>
									</svg>
								</a>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--cart">
									<span class="visually-hidden">Add item to your cart</span>
									<svg width="22" height="20">
										<use xlink:href="img/sprite.svg#icons--cart"></use>
									</svg>
								</button>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--chosen">
									<span class="visually-hidden">Add item to your favorites</span>
									<svg width="22" height="18">
										<use xlink:href="img/sprite.svg#icons--heart"></use>
									</svg>
								</button>
							</li>
						</ul>
						<div class="product-card__info">
							<h3 class="product-card__product">Wooden chair</h3>
							<div class="product-card__rating rating" data-rateyo-rating="@@product-rating"></div>
							<span class="product-card__price"><span class="product-card__currency">$</span>29.00</span>
						</div>
					</article>
				</li>

				<li class="related__item">
					<article class="product-card drop-shadow">
						<div class="product-card__wrap">
							<img class="product-card__img" src="img/popular/ottoman-01.png" alt="ottoman 1">
						</div>
						<ul class="product-card__hover">
							<li class="product-card__element">
								<a class="product-card__circle product-card__circle--search" href="product_detalis.html">
									<span class="visually-hidden">View more details</span>
									<svg width="20" height="20">
										<use xlink:href="img/sprite.svg#icons--search_ligth"></use>
									</svg>
								</a>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--cart">
									<span class="visually-hidden">Add item to your cart</span>
									<svg width="22" height="20">
										<use xlink:href="img/sprite.svg#icons--cart"></use>
									</svg>
								</button>
							</li>
							<li class="product-card__element">
								<button class="product-card__circle product-card__circle--chosen">
									<span class="visually-hidden">Add item to your favorites</span>
									<svg width="22" height="18">
										<use xlink:href="img/sprite.svg#icons--heart"></use>
									</svg>
								</button>
							</li>
						</ul>
						<div class="product-card__info">
							<h3 class="product-card__product">White chair</h3>
							<div class="product-card__rating rating" data-rateyo-rating="@@product-rating"></div>
							<span class="product-card__price"><span class="product-card__currency">$</span>29.00</span>
						</div>
					</article>
				</li>
			</ul>
		</div>
	</div>
</section>