.overboard-card {
   background-color: $apricot-craiola-700;
   position: relative;
   width: 100%;
   height: 100%;

   @include sm {
      overflow: hidden;
   }

   // .overboard-card__img
   &__img {
      position: absolute;
      top: -100px;
      // left: 130px;
      left: 6vw;
      right: auto;
      max-height: 485px;
      max-width: 260px;

      @include rwd(1399.98) {
         left: 20px;
         max-height: 385px;
         max-width: 200px;
      }

      @include xl {
         left: 5px;
         max-height: 300px;
         max-width: 200px;
      }

      @include lg {
         padding: 15px 0;
         top: 50%;
         transform: translateY(-50%);
         left: 30px;
         max-height: 250px;
         max-width: 250px;
      }

      @include sm {
         padding: 10px 0;
         left: 5px;
      }
   }

   // .overboard-card__info
   &__info {
      padding: 85px 0;
      // margin-left: 400px;
      margin-left: 23vw;
      margin-right: 25px;
      height: 100%;
      max-width: 350px;
      position: relative;

      @include rwd(1399.98) {
         margin-left: auto;
         margin-right: 50px;
         position: relative;
      }

      @include xl {
         text-align: right;
         padding: 60px 0;
      }

      @include lg {
         max-width: 65%;
         padding: 30px 15px;
         text-align: center;
      }

      @include sm {
         max-width: 55%;
         margin-right: 30px;
      }


      &::after {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         content: "";
         background-color: $white;
         display: block;
         width: 110%;
         height: 80%;
         opacity: 0;

         @include rwd(1399.98) {
            opacity: 0.65;
         }

         @include xl {
            opacity: 0.85;
         }

         @include lg {
            opacity: 0.5;
         }

         @include sm {
            opacity: 0.85;
         }
      }
   }

   // .overboard-card__caption
   &__caption {
      @include DMSans(700);
      font-size: 26px;
      line-height: 1.3;
      color: $ocean-blue-200;
      margin-bottom: 5px;
      @include text-clamp(2);

      @include rwd(1399.98) {
         position: relative;
         z-index: 1;
      }

      @include xl {
         font-size: 22px;
      }
   }

   // .overboard-card__desc
   &__desc {
      @include Rubik(400);
      font-size: 16px;
      line-height: 1.9;
      @include text-clamp(2);

      @include rwd(1399.98) {
         position: relative;
         z-index: 1;
      }
   }

   // .overboard-card__btn
   &__btn {
      outline: none;
      background-color: transparent;
      color: $ocean-blue-300;
      border-radius: 5px;
      border: 1px solid $ocean-blue-300;
      transition: box-shadow 0.3s;
      margin-top: 25px;
      z-index: 5;

      @include sm {
         position: relative;
         bottom: 10px;
         width: 150%;
         transform: translateX(-50%);
         background-color: $white;
         padding-top: 10px;
         padding-left: 10px;
         padding-bottom: 10px;
         box-shadow: 0 0 17px 3px rgba(37, 37, 37, 0.2);
      }

      &::after {
         background-color: $ocean-blue-300;
      }

      &:hover {
         box-shadow: 0 0 17px 3px rgba(37, 37, 37, 0.2);
      }
   }
}