.small-card {
	max-width: 290px;
	// margin: 0 auto;

   // .small-card__link 
   &__link {
      display: block;
      width: 100%;
      display: flex;
      justify-content: space-between;
      outline: transparent;
      background-color: transparent;
      transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;

      &:focus {
         background-color: $forest-wolf-930;

         .small-card__passe-partout {
            transform: scale(0.8);
         }
      }

      &:hover {
         transform: scale(1.1);
         box-shadow: 0 6px 47px 3px rgba(40, 40, 40, 0.07);
      }

      &:active {
         transform: scale(0.9);
      }
   }

   // .small-card__passe-partout
   &__passe-partout {
      background-color: $white;
      width: 70px;
      height: 70px;
      padding: 5px;
      border: 1px solid $forest-wolf-850;
      transition: transform 0.3s;
   }

   // .small-card__img
   &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   // .small-card__info
   &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 0 5px 15px;
      width: 72%;
      @include Rubik(400);
      color: $graphite-black-300;

      @include lg {
         width: 100%;
      }
   }

   // .small-card__product-name
   &__product-name {
      font-size: 14px;
      color: inherit;
   }

   // .small-card__stars
   &__stars {
      font-size: 16px;
      color: $forest-wolf-850;
   }

   // .small-card__price
   &__price {
      font-size: 15px;
   }

   // .small-card__currency
   // &__currency {}
}