.comments {
   margin-bottom: 100px;

	@include md {
		margin-bottom: 60px;
	}

   &__item {
      .comments {
         margin-bottom: 30px;
         padding-left: 130px;

         @include md {
            padding-left: 100px;
         }

         @include sm {
            padding-left: 30px;
         }
      }

      .comments .comments .comments {
         padding-left: 0;
      }
   }

   &__comment {
      display: grid;
      grid-template-columns: 130px auto;
      margin-bottom: 60px;

      @include md {
         grid-template-columns: 100px auto;
      }

      @include sm {
         display: flex;
         flex-direction: column;
      }
   }

   &__avatar {
      object-fit: cover;
      width: 100px;
      height: 100px;
      margin-right: 30px;

      @include md {
         width: 70px;
         height: 70px;
      }

      @include sm {
         margin-bottom: 30px;
      }
   }

   &__body {
      font-weight: 400;
      font-size: 16px;
      position: relative;

      &::after {
         position: absolute;
         bottom: -25px;
         right: 0;
         left: 0;
         content: "";
         width: 100%;
         height: 1px;
         background-color: $forest-wolf-850;
      }
   }

   &__wrap {
      display: flex;
      justify-content: space-between;
      line-height: 1;
      margin-bottom: 25px;

      @include sm {
         position: absolute;
         flex-direction: column;
         width: calc(100% - 85px);
         top: -100px;
         right: 0;
      }
   }

   &__author {
      font-weight: 700;
      color: $ocean-blue-200;

      @include sm {
         margin-bottom: 15px;
      }
   }

   &__date {
      color: $dusty-gray-550;
      font-size: 14px;
   }

   &__text {
      color: $cobalt-blue-900;
      margin-bottom: 25px;

      p:not(:last-of-type) {
         margin-bottom: 5px;
      }
   }

   &__btn {
      display: inline-block;
      line-height: 1;
      color: $ocean-blue-200;
      border-bottom: 1px solid transparent;
      padding-right: 25px;
      position: relative;
      transition: border-color 0.3s, transform 0.3s;

      &:hover {
         transform: scale(1.2);
         border-color: $ocean-blue-200;
      }

      &:active {
         transform: scale(0.9);
      }

      &::after {
         position: absolute;
         top: 2px;
         bottom: 2px;
         right: 0;
         left: 0;
         content: "";
         background-image: url(../img/icons/reply.svg);
         background-repeat: no-repeat;
         background-position: right center;
      }
   }
}