.form-comment {
   &__title {
      font-weight: 700;
      font-size: 24px;
      color: $ocean-blue-300;
      margin-bottom: 40px;
   }

   &__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;

      @include sm {
         display: flex;
         flex-direction: column;
      }
   }

   &__label {
      position: relative;
      display: block;
      z-index: 10;

      &::before {
         position: absolute;
         content: "";
         top: 20px;
         right: 20px;
         width: 20px;
         height: 20px;
         // background-repeat: no-repeat;
         // background-position: right center;
         mask-repeat: no-repeat;
         mask-position: right center;
         mask-size: contain;
         background-color: $dusty-gray-520;
         transition: background-color 0.3s;
      }

      &--active {
         &::before {
            background-color: $ocean-blue-200;
         }
      }

      &--name {
         &::before {
            // background-image: url(../img/icons/user-comment.svg);
            mask-image: url(../img/icons/user-comment.svg);
         }
      }

      &--email {
         &::before {
            // background-image: url(../img/icons/envelope.svg);
            mask-image: url(../img/icons/envelope.svg);
         }
      }

      &--comment {
         &::before {
            // background-image: url(../img/icons/comment.svg);
            mask-image: url(../img/icons/comment.svg);
         }
      }
   }

   &__input {
      width: 100%;
      display: block;
      padding: 20px;
      font-size: 16px;
      color: $ocean-blue-200;
      border: 1px solid $dusty-gray-520;
      margin-bottom: 40px;
      transition: box-shadow 0.3s, border-color 0.3s;
      resize: none;

      &:focus {
         border-color: $ocean-blue-200;
      }

      &:focus,
      &:hover {
         outline: none;
         box-shadow: 0 6px 15px 3px rgba(37, 37, 37, 0.1);
      }

      &::placeholder {
         line-height: 1;
         font-size: 16px;
         color: $dusty-gray-520;
      }
   }

   &__btn {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 18px;

		@include sm {
			width: 100%;
		}
   }
}