//I googled the names of the colors :)
$white: #ffffff;
$ocean-blue-100: #222933;
$ocean-blue-200: #243f4d;
$ocean-blue-200-a: #243f4d5e;
$ocean-blue-300: #436372;
$ocean-blue-400: #748e9c;
$ocean-blue-450: #a3bbc8;
$ocean-blue-880: #dae4e9;
$ocean-blue-900: #edf1f4;
$ocean-blue-920: #f5f8fa;
$apricot-craiola-400: #fcd7b6;
$apricot-craiola-600: #fde7d3;
$apricot-craiola-700: #feefe2;
$apricot-craiola-800: #fef7f0;
$apricot-craiola-850: #f8f8f8;
$cobalt-blue-200: #1f2044;
$cobalt-blue-220: #234969;
$graphite-black-100: #191919;
$graphite-black-200: #262626;
$graphite-black-300: #333333;
$dusty-gray-300: #585858;
$dusty-gray-350: #4c4c4c;
$dusty-gray-400: #7b7b7b;
$dusty-gray-450: #737980;
$dusty-gray-470: #888888;
$dusty-gray-500: #939393;
$dusty-gray-600: #b3b3b3;
$forest-wolf-800: #e8e4df;
$forest-wolf-820: #e6eaf0;
$forest-wolf-850: #e0e0e0;
$forest-wolf-900: #e9e8e8;
$forest-wolf-920: #f6f6f6;
$forest-wolf-930: #f2f2f2;
$marengo-200: #565872;
$yandex-color-500: #ffcc00;
/*---------------------------*/