// I need this mixin to test myself. I will delete it when I finish working with the project
@mixin wowborder ($f) {
   border: 3px solid ($f);
}

@mixin bg ($src) {
   background-image: $src;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

@mixin bg-change-color($url, $color) {
   mask: $url no-repeat center;
   mask-size: contain;
   background-color: $color;
}

@mixin Rubik($Rfw) {
   font-family: "Rubik", sans-serif;
   font-weight: $Rfw;
}

@mixin DMSans($DMSfw) {
   font-family: "DMSans", sans-serif;
   font-weight: $DMSfw;
}

@mixin Poppins($Pfw) {
   font-family: "Poppins", sans-serif;
   font-weight: $Pfw;
}

@function max($numbers...) {
   @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
   @return m#{i}n(#{$numbers});
}

// @include text-clamp(1);
@mixin text-clamp($lines: 2, $line-height: false) {
   display: -webkit-box;
   -webkit-line-clamp: $lines;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis; // многоточие

   // Fallback for non-Webkit browsers
   // (won't show `…` at the end of the block)
   @if $line-height {
      max-height: $line-height * $lines * 1px;
   }
}

@mixin add-paddings {
   @include xl {
      padding: 40px 0;
   }

   @include lg {
      padding: 30px 0;
   }

   @include md {
      padding: 25px 0;
   }

   @include sm {
      padding: 15px 0;
   }
}